@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

/*  fonts:
font-family: "lust-didone", serif;
font-weight: 400;
font-style: normal;

font-family: "lust-didone", serif;
font-weight: 700;
font-style: italic;

font-family: "lust-didone-fine", sans-serif;
font-weight: 100;
font-style: normal;

font-family: "lust-didone-fine", sans-serif;
font-weight: 100;
font-style: italic;

font-family: "lust-display-didone", serif;
font-weight: 400;
font-style: normal;

font-family: "lust-display-didone", serif;
font-weight: 400;
font-style: italic;


*/

@media only screen and (min-width: 20em) {
  html {
    box-sizing: border-box;

    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    background-color: #efeae1;
    font-family: "acumin-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #4b1428;
    scroll-behavior: smooth;
    overflow-x: hidden; /* Hides horizontal overflow */
  }

  *, *::before, *::after {
    box-sizing: inherit;

  }

  @view-transition {
  navigation: auto;
}

  .img-flex {
    display: block;
    max-width: 100%;
  }

  h1 {
    font-family: "altesse-std-64pt", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 15px;
    color: #4b1428;
    margin-bottom: 0;
    font-size: 50em;
  }

  h2 {
    font-family: "lust-didone", serif;
    font-weight: 400;
    font-style: normal;
  }

  ul {
    list-style-type: none; /* Removes bullet points */
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center; /* Vertical alignment */
    justify-content: center; /* Horizontal alignment (optional) */
  }


  ul li {
    display: inline-block; /* Makes the items sit next to each other */
    padding: 10px; /* Adds space around the items */

  }

  .nav-item {
    color: #4b1428;
    text-decoration: none;
    font-family: "lust-didone", serif;
    font-weight: 400;
    font-style: normal;
    padding: 8px;
    border-bottom: 2px solid transparent;

    transition:
      border-bottom 250ms ease-in-out;
  }

  .nav-item:hover {
    border-bottom: 2px solid #89636D;
  }

  .nav-logo {
    display: inline-block;
    transition: transform 0.2s ease;
    transform: scale(1);
  }

  .nav-logo:hover {
    transform: scale(1.2);
  }

  .project-item {
    display: inline-block;
    transition: transform 0.2s ease;
    transform: scale(1);
  }

  .project-item:hover {
    transform: scale(1.1);
  }


  body {
    margin: 0;
  }

  .offering {
    color: #89636D;
  }

  .touch {
    color: #89636D;
  }

  .logo {
    max-width: 100px;
  }

  .btn {
    border: 2px solid #4b1428;
    border-radius: 25px;
    padding: 1em;
    color: #4b1428;
    text-decoration: none;
    font-family: "lust-didone", serif;
    font-weight: 400;
    font-style: normal;

    transition:
      background-color 250ms ease-in-out,
      color 250ms ease-in-out;
  }

  .btn:hover {
    background-color: #4b1428;
    color: #efeae1;
  }


  .btn-container {
    text-align: center;
    margin-top: 2em;
  }

  .top-btn-container {
    text-align: center;
    margin-top: 2em;
  }

  .top-btn {
    text-decoration: none;
    color: white;
  }

  .intro-container {
    margin-top: 60px;
  }

  .intro-paragraph {
    margin-top: 25px;
    margin-bottom: 50px;
  }

  .projects-container h2 {
    color: #89636D;
    text-align: center;
    margin-top: 80px;
  }

  .about-container {
    margin-top: 80px;
  }

  .about-heading {
    color: #89636D;
    margin-top: 40px;
  }

  .page-container {
    position: relative;
  }

  .left-flower {
    position: absolute;
    top: 0%;
    left: -15%;
    z-index: -1;
    width: 400px;
    display: block;
  }

  .right-flower {
    position: absolute;
    bottom: 14%;
    right: -25%;
    z-index: -1;
    width: 400px;
    display: block;
  }

  .contact-container {
    background-color: #89636D;
    margin-top: 80px;
    color: white;
  }

  .contact-heading {
    margin-top: 40px;
  }

  .about-img {
    border-radius: 1000px;
    max-width: 63%;
    margin-left: auto; /* Distributes available space on the left */
    margin-right: auto; /* Distributes available space on the right */
    height: auto;
  }

  .project-1, .project-2, .project-3 {
    max-width: 63%;
    margin-left: auto; /* Distributes available space on the left */
    margin-right: auto; /* Distributes available space on the right */
    height: auto;
  }

  #about, #contact {
    display: flex;
    align-items: center;
  }

  .case-studies-heading, .illustrations-heading {
    color: #89636D;
    margin-top: 40px;
    text-align: center;
  }
  /*.slide-menu {
    position: fixed;
    right: -100%;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #f1f1f1;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
  }*/

  /* When the checkbox is checked, slide the menu into view */
  /*#menu-toggle:checked ~ .slide-menu {
    right: 0;
  }*/



}

@media only screen and (min-width: 38em) {
  html {
    font-size: 110%;
    line-height: 1.4;
  }

  ul.nav {
    margin-bottom: 5px;
    margin-left: 35px;
  }

  ul li {
    padding: 40px;

  }

  .logo {
    max-width: 90px;
  }

  .left-flower {
    top: -3%;
    left: -6%;
    width: 200px;
  }

  .right-flower {
    top: 20%;
    right: 0%;
    width: 200px;
  }

  .project-1, .project-2, .project-3, .about-img {
    max-width: 100%;
  }

}

@media only screen and (min-width: 60em) {
  html {
    font-size: 120%;
    line-height: 1.5;
  }

  .intro-box {
    margin-left: 20px;
  }


  .logo {
    max-width: 110px;
  }

  .projects-container h2, .about-container {
    margin-top: 150px;
  }


  .intro-container {
    margin-top: 110px;
  }

  .left-flower {
    top: 0;
    left: -10%;
    width: 275px;
  }

  .right-flower {
    top: 25%;
    right: -7%;
    width: 275px;
  }
}

@media only screen and (min-width: 90em) {
  html {
    font-size: 130%;
  }

  .left-flower {
    top: 0;
    left: -15%;
    width: 350px;
  }

  .right-flower {
    top: 24%;
    right: -15%;
    width: 350px;
  }


}
