@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: #efeae1;
  font-family: "meno-banner-extra-condensed", serif;
  font-weight: 400;
  font-style: normal;
  color: #4b1428;
}

*, *::before, *::after {
  box-sizing: inherit;

}

.img-flex {
  display: block;
}

h1 {
  font-family: "altesse-std-64pt", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-top: 0;
}

ul {
  list-style-type: none; /* Removes bullet points */
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center; /* Vertical alignment */
  justify-content: center; /* Horizontal alignment (optional) */
}


ul li {
  display: inline-block; /* Makes the items sit next to each other */
  padding: 10px; /* Adds space around the items */

}

.nav a{
  color: #4b1428;
  text-decoration: none;
}

@media only screen and (min-width: 25em) {

}


@media only screen and (min-width: 38em) {
  ul.nav {
    margin-bottom: 5px;
    margin-left: 35px;
  }
}
